/* pages/index/index.wxss */

.banner, .banner_image {
  width: 100%;
}
.func_box {
  padding: 20rpx;
  position: relative;
  bottom: 60rpx;
}
.main_func, .secondary_func{
  border-radius: 20rpx;
  overflow: hidden;
}


.secondary_func {
  margin-top: 20rpx;
}
